body {
  background-image: linear-gradient(to bottom, #0260f8, #a739d3, #de009e, #f20064);
  font-family: 'Fredericka the Great', cursive;
}
header {
  text-align: center;
  font-size: 7vmin ;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 2.5vmin;
  margin: 15px 10% 25px 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

h5 {
  font-size: 3vmin;
}

.instructions {
  font-size: 4vmin;
  color: rgb(255, 70, 101);
  font-family: 'Fredericka the Great', cursive;
}

:root {
  --animate-duration: 2s;
}

.main-div {
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  margin: 5% 20% 40% 20%;
  padding: 0px;
}

.all-cards {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
	width: 85%;
  padding: 0px 30px 50px 30px;
}

.card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  
}

.start-img {
  display: flex;
  margin: 2px;
  background-image: url("images/numbers_pic.png");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}


.modal-container  {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.modal-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  margin: 7% 10%;
  max-width: 600px;
  max-height: 700px;
  
}

#card-title {
  margin-top: 10px;
  font-size: 40px;
}

p {
  font-size: 30px;
}

.btn {
  margin-bottom: 10px;
  padding: 2px 5px;
}


.screen-of-nums {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border: black solid 2px;
  margin-top: 6px;
  color: rgb(255, 70, 101);
  font-size: 15em;
}

.img {
  display: flex;
  margin: 2px;
  background-image: url("images/numbers_pic.png");
  background-size: cover;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
}

.you-win {
  background-image: url("images/you_win.png");
  background-size: cover;
  border-radius: 5px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border: black solid 2px;
  margin-top: 6px;
  color: red;
  font-size: 20vmin;
}

.try-again {
  background-image: url("images/try_again.png");
  background-size: cover;
  border-radius: 5px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border: black solid 2px;
  margin-top: 6px;
  color: red;
  font-size: 20vmin;
}


.form {
  margin-bottom: 30px; 
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

#player-input {
  height: 40px;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 65%;
  margin: 0px 5px;
} 

.btn {
  background-color: rgb(255, 70, 101);
  border-radius: 5px;
  font-size: 20px;
  padding: 4px 8px;
  color: white;
  margin: 0 5px;
}

