
header {
  text-align: center;
  font-size: 6vmin ;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 3vmin;
  margin: 5px 15% 5px 15%;
}

:root {
  --animate-duration: 2s;
}

.allCards {
  border: gray 2px solid;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
	width: 100%;
  margin-top: 25px;
  padding: 50px 20px
}

.card {
  width: 33%;
  align-items: center;
  margin: 0px 20px;
}

.card-title {
  font-size: 5vmin;
  text-align: center;
}

.card-text {
  margin-top: 10px;
  font-size: 3vmin;
}

.btn {
  width: 70%;
  font-size: 3vmin;
  margin: 0 10% 0 10%;
}

.inputBar {
  width: 95%;
  margin: 5px;
}

.screen {
  border-radius: 5px;
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  border: black solid 2px;
  margin-top: 6px;
  background-image: url(/images/numbers\ pic.jpeg);
  background-size: cover;
}


.screenOfNums {
  border-radius: 5px;
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  border: black solid 2px;
  margin-top: 6px;
  color: red;
  font-size: 20vmin;
}


.winningScreen {
  border-radius: 5px;
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  border: black solid 2px;
  margin-top: 6px;
  background-image: url('https://i.ibb.co/BZyRVd6/Screen-Shot-2021-10-19-at-3-00-03-PM.png');
  background-size: cover;
}

.tryAgainScreen {
  border-radius: 5px;
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  border: black solid 2px;
  margin-top: 6px;
  background-image: url('https://i.ibb.co/16F3kds/Screen-Shot-2021-10-19-at-3-00-48-PM.png');
  background-size: cover;
}