body {
  background-image: linear-gradient(to bottom, #0260f8, #a739d3, #de009e, #f20064, #eb122a);
}
header {
  text-align: center;
  font-size: 6vmin ;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 2vmin;
  margin: 15px 5% 25px 5%;
}

:root {
  --animate-duration: 2s;
}

.main-div {
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  margin: 5% 20% 20% 20%;
  padding: 0px;
}

.all-cards {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
	width: 85%;
  padding: 0 0 5% 0;
}

.img {
  display: flex;
  margin: 2px;
  background-image: url("/images/numbers_pic.jpg");
  background-size: cover;
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
}

p {
  font-size: 10px;
}

.card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.cards-div {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.btn {
  margin-bottom: 10px;
}

.modal-container  {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  
}



.screen-of-nums {
  border-radius: 5px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border: black solid 2px;
  margin-top: 6px;
  color: red;
  font-size: 20vmin;
}

.modal-card {
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  justify-content: space-around;
  margin: auto;
  padding: 0 0 5% 0;
}

.you-win {
  background-image: url("/images/you_win.png");
  background-size: cover;
  border-radius: 5px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border: black solid 2px;
  margin-top: 6px;
  color: red;
  font-size: 20vmin;
}
.try-again {
  background-image: url("/images/try_again.png");
  background-size: cover;
  border-radius: 5px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
  border: black solid 2px;
  margin-top: 6px;
  color: red;
  font-size: 20vmin;
}
